Device Name:  {{ juniper_facts.ansible_facts.ansible_net_hostname }}
Make: {{ Make }}
Model: {{ juniper_facts.ansible_facts.ansible_net_model }} 
Serial Number: {{ juniper_facts.ansible_facts.ansible_net_serialnum }}
Software Version: {{ juniper_facts.ansible_facts.ansible_net_version }}
